body {
  color: #3f3844;
  font-family: "proxima-nova-soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}

.top-bar, .top-bar ul, .top-bar-title, .top-bar-left, .top-bar-right {
  background-color: #f7f7f7;
}

.top-bar-title {
  font-size: 1.6em;
  font-weight: bold;
  padding-left: 10px;
}


#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #989696;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #f7f7f7;
  color: inherit;
}

.top-section {
  margin-bottom: 1em;
  border-bottom: grey 1px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-container > .stat-txt {
  background-color: #f1f1f1;
  margin: 10px;
  text-align: center;
}

.text-small {
  font-size: 0.8em;
  font-weight: normal;
  p {
    margin-bottom: inherit;
  }
}

h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.2em;
  font-weight: bolder;
}
.continent-desc {
 padding: 10px;
  p {
    line-height: 1.3em;
    font-size: 0.8em;
  }
}

figcaption {
  margin-bottom: 10px;
}

.grid-container {
  margin-left: inherit;
}

.cell {
  align-items: flex-start;
}

