.title-bar {
  width: 100%;
  z-index: 10;
  height: 3em;
  padding-top: 0em;
}
.title-bar .dropdown.menu li {
  float: left;
}
.title-bar .dropdown.menu .is-dropdown-submenu {
  border: none;
  background-color: #8a8a8a;
}
