<button id="topBtn" title="Go to top">Top</button>

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon dark" type="button" data-toggle="example-menu"></button>
    <div class="title-bar-title">&nbsp;Round the world 2019</div>
</div>

<div class="top-bar" >
    <div class="top-bar-title show-for-medium" >
        Round the world 2019
    </div>
    <div class="top-bar-right" id="example-menu">
        <ul class="menu">
            <li><a href="#africa">Africa</a></li>
            <li><a href="#usa">USA</a></li>
            <li><a href="#asia">Asia</a></li>
        </ul>
    </div>
</div>