<div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;">
        <div class="title-bar-left">
            <span class="title-bar-title">{{header-title}}</span>
        </div>
        <div class="title-bar-right">
            <ul class="dropdown menu align-right" data-dropdown-menu>
                <li><a href="#africa">Africa</a></li>
                <li>
                    <a href="#us">US</a>
                </li>
            </ul>


        </div>
    </div>
</div>